    <style type="text/css">
        :root {
            --size: <%=@size%>;
        }
    </style>
<div id="gameContainer">
  <div id="gameContainerTop">
    <div id="gameContainerTopEmpty"></div>
    <div id="buttonReload"><img src="img/reload.svg"></div>
    <div id="buttonClose"><img src="img/close-thick.svg"></div>
    <div id="avatarLeft"></div>
    <div id="nameLeft"></div>
    <div id="statusBar"></div>
    <div id="nameRight"></div>
    <div id="avatarRight"></div>
  </div>
  <%= 
  output = ""
  i = 0
  @size.times do
    row = ""
    @size.times do
      i += 1
      row += "<div class=\"cell\" id=\"#{i}\"></div>"
      row
    end
    output += "<div class=\"row\">#{row}</div>"
  end
  "<div id=\"board\">#{output}</div>"
  %>
</div>
