<div id="containerEntrance">
  <div id="constainerButtonsSize">
    <button class="buttonsSize" data-size="3">3x3</button> 
    <button class="buttonsSize" data-size="5">5x5</button>
  </div>
  <div id="containerCustomGame>">
    <h4>Play your custom game</h4>
    <form>
      <input type="text" placeholder="<%="random link will go here, but it's not ready yet"%>">
    </form>
    <button id="buttonCopyLink">Copy</button>
    <button id="buttonCreateGame">Create Game</button>
  </div>
</div>