<div id="containerEntrance">
  <div id="containerEntranceTop">
    <h4>Choose board's size</h4>
    <div id="constainerButtonsSize">
      <button class="buttonsSize" data-size="3">3x3</button> 
      <button class="buttonsSize" data-size="5">5x5</button>
    </div>
  </div>
    <div id="containerCustomGame">
    <h4>Play with a friend</h4>
    <p>just grab this link and send it to him or her</p>
    <form>
      <input id="linkInput" type="text" placeholder="<%="tictactoe.com/?link=AbCdEfG"%>">
      <button class="buttonsCustom" id="buttonCopyLink">Copy</button>
    </form>
    <div id="containerButtonsCustom">
      <button class="buttonsCustom" id="buttonCreateGame">Create Game</button>
    </div>
  </div>
</div>