<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Online</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="/script.js"></script>
</head>
<body>
    <header>
        <h1>Tic-Tac-Toe Online</h1>
    </header>
    <main>
        <%= 
        output = ""
        i = 0
        3.times do
          row = ""
          3.times do
            i += 1
            row += "<div class=\"cell\" id=\"#{i}\"></div>"
            row
          end
          output += "<div class=\"row\">#{row}</div>"
        end
        "<div class=\"board\">#{output}</div>"
        %>
    </main>
</body>
</html>