<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Online</title>
    <link rel="stylesheet" href="/style.css">
    <script defer>let serverAddress = "<%=@server_address%>"</script>
    <script defer src="/main.js"></script>
    <script defer src="/messenger.js"></script>
    <script defer src="/helpers.js"></script>
</head>
<body>
    <header>
        <h1>Tic-Tac-Toe Online</h1>
    </header>
    <main>
      <%=erb @template%>
    </main>
</body>
</html>