main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex
}

.cell {
  height: 100px;
  width: 100px;
  border: solid 1px black;
}

.unclickable {
  pointer-events: none;
  
}
