#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--cell-size) * var(--size) + 2 * var(--cell-size));
  min-width: calc(var(--cell-size) * var(--size) + 2 * var(--cell-size));
}

#gameContainerTop {
  display: grid;
  flex-grow: 1;
  width: 99%;
  grid-template: var(--half-cell-size) var(--cell-size) / var(--cell-size) 1fr var(--cell-size) 1fr var(--half-cell-size) var(--half-cell-size);
  margin-bottom: var(--standard-indent);
  height: calc(var(--cell-size) + var(--half-cell-size));
  justify-content: center;
  align-items: center;
}

#gameContainerTopEmpty,
#buttonReload,
#buttonClose {
  grid-row: 1;
}

#gameContainerTopEmpty {
  grid-column: 1 / 4;
}

#buttonReload {
  grid-column: 5;
}

#buttonClose {
  grid-column: 6;
}

#avatarLeft,
#nameLeft,
#statusBar,
#nameRight,
#avatarRight {
  grid-row: 2;
}

#avatarRight {
  grid-column: 5 / 7;
}

#avatarLeft,
#avatarRight,
#gameContainerTop,
#gameContainer {
  overflow: visible;
}

#avatarLeft,
#avatarRight {
  height: var(--cell-size);
}

#avatarLeftImg,
#avatarRightImg {
  transition: all 2s ease;
}

.playing {
  --scale: scale(1.20);
}

#nameRight {
  text-align: right;
}

#statusBar {
  text-align: center;
}

#board {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.row {
  display: flex;
  width: calc(var(--cell-size) * var(--size));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  outline: solid 5px #EB6370;
}

.row {
  outline: solid 5px #EB6370;
}

/* @media (max-width: env(var(--media-max-width))) {
  :root {
    --cell-size: 60px;
  }

  #statusBar {
    font-size: 0.6rem
  }

  #gameContainerTop {
    grid-template: var(--half-cell-size) var(--cell-size) / var(--cell-size) var(--cell-size) var(--half-cell-size) var(--half-cell-size);
  }

  #gameContainerTopEmpty,
  #buttonReload,
  #buttonClose {
    grid-row: 1;
  }

  #gameContainerTopEmpty {
    grid-column: 1 / 3;
  }

  #buttonReload {
    grid-column: 3;
  }

  #buttonClose {
    grid-column: 4;
  }

  #avatarLeft,
  #statusBar,
  #avatarRight {
    grid-row: 2;
  }

  #avatarRight {
    grid-column: 3 / 5;
  }

  #nameLeft,
  #nameRight {
    position: absolute;
    visibility: hidden;
  }
} */